.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.zoomOutBig {
  -webkit-animation-name: zoomOutBig;
          animation-name: zoomOutBig;
 -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

//点赞
.praise-img{
	background:url(img/praise.png) no-repeat center;
	background-size: 50px auto;
	display: inline-block;
	width: 22px;
	height: 17px;
	vertical-align: middle;
	padding-left: 15px;
	background-position: 5px -97px;
}

.no-praise-img{
	background:url(img/praise.png) no-repeat center;
	background-size: 50px auto;
	display: inline-block;
	width: 22px;
	height: 17px;
	vertical-align: middle;
	padding-left: 15px;
	background-position: 5px -115px;
}


